body {
  background-image:
  linear-gradient(to bottom, skyblue, #2478c7, 
  skyblue);
}

#back {
    width: 200px;
    height: 100px;
    font-size: 30px;
    transition-duration: .25s;
  }

h1 {
  background-color: white;
  border: 40px darkblue, solid;
  border-radius: 20px;
  height: 200px;
  font-size: 100px;
  color: darkblue;
}

button {
  border-radius: 10px;
  border: 20px, solid, darkblue;
  color: darkblue;
  font-family: 'Times New Roman', Times, Georgia, serif;
  font-size: 100px;
  width: 200px;
  height: 200px;
  transition-duration: 1s;
}

button:hover {
  width: 250px;
  height: 200px;
  background-color: dodgerblue;
  color: white;
}

#jonathan {
  display: flex;
  position: absolute;
  pointer-events: none;
}

