h1 {
  color: darkblue;
  font-size: 120px;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  border: 10px solid;
  padding-left: 100px;
  width: 1000px;
  height: 300px;
  margin-bottom: px;
  border-radius: 50px;
  background: floralwhite;
}

body {
  background-image:
  linear-gradient(to bottom, skyblue, #2478c7, 
  skyblue);
}

.idontknow {
  position: block;
  display: flex;
  flex-direction: column;
}

  button {
  font-family: 'Times New Roman', Times, Georgia, serif;
  font-size: 50px;
  background-color: white;
  color: darkblue;
  border: 8px solid darkblue;
  width: 900px;
  height: 200px;
  border-radius: 8px;
  margin-left: 2em;
  transition-duration: 1s;
}

button:hover {
  background-color: dodgerblue;
  color: white;
  width: 900px;
  height: 200px;
  border: 100px;
}

.container {
  display: flex;
  justify-content: right;
}

img {
  display: flex;
  justify-content: right;
  margin-top: 10px;
  border-radius: 100px;
}

#john {
  position: absolute;
  margin-left: 70px;
  margin-top: -300px;
  pointer-events: none;
}

.jonathanbounce {
  display: flex;
  position: absolute
  
}

audio {
  margin-left: 750px;
  margin-top: 300px;
}

.simpsonscontainer {
  display: flex;
  justify-content: flex-start;
}

#thesimpsons {
  margin-left: -0px;
  margin-top: -200px;
  width: 550px;
  height: 300px;
}
